<% title "Downloads" %>

<table>
  <tr>
    <th>Name</th>
    <th>Gid</th>
    <th>Status</th>
    <th>Completed At</th>
    <th>Error</th>
  </tr>
  <% for download in @downloads %>
    <tr>
      <td><%= download.name %></td>
      <td><%= download.gid %></td>
      <td><%= download.status %></td>
      <td><%= download.completed_at %></td>
      <td><%= download.error %></td>
      <td>
      <% [*links_for(download)].each do |link| -%>
        <%= link %>
      <% end -%>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Download", new_download_path %></p>
